<div class="background">
  <div class="example-box">
    <div class="custom-table">
      <div class="head">
        <div class="cst-card">Col 1</div>
        <div class="cst-card">Col 2</div>
        <div class="cst-card">Col 3</div>
      </div>

      <div class="body">
        <div class="cst-row">
          <div class="cst-card">Linha 1 - Col 1</div>
          <div class="cst-card">Linha 1 - Col 2</div>
          <div class="cst-card">Linha 1 - Col 3</div>
        </div>
        <div class="cst-row">
          <div class="cst-card">Linha 2 - Col 1</div>
          <div class="cst-card">Linha 2 - Col 2</div>
          <div class="cst-card">Linha 2 - Col 3</div>
        </div>
        <div class="cst-row">
          <div class="cst-card">Linha 3 - Col 1</div>
          <div class="cst-card">Linha 3 - Col 2</div>
          <div class="cst-card">Linha 3 - Col 3</div>
        </div>
      </div>
    </div>
  </div>
</div>
