<div class="background" id="dragArea">
  <div class="row-wb body-row">
    <div class="slides">
      <app-slides-show [slides]="slides"></app-slides-show>
    </div>

    <div class="form-test" cdkDrag cdkDragBoundary="#dragArea">
      <app-input-text [form]="form" formId="name" label="Name" holder="First Name"
        [validator]="form.get('name').errors?.required && form.get('name').touched"></app-input-text>
      <app-input-text [form]="form" formId="lastName" label="Last Name" holder="Last Name"
        [validator]="form.get('lastName').errors?.required && form.get('lastName').touched"></app-input-text>
      <app-input-text [form]="form" formId="email" label="Email" holder="example@example.com"
        [validator]="form.get('email').errors?.required && form.get('email').touched"></app-input-text>
      <app-input-text [form]="form" formId="phone" label="Phone Number" holder="(99) 9999999"
        [validator]="(form.get('phone').errors?.required || form.get('phone').errors?.pattern) && form.get('phone').touched">
      </app-input-text>
      <div class="form-footer">
        <app-form-button label="cancel" (click)="cancel()"></app-form-button>
        <app-form-button label="submit" (click)="submit()"></app-form-button>
      </div>
    </div>
  </div>

  <div class="row-wb footer-row">
    <div class="example-box" cdkDrag cdkDragBoundary="#dragArea">Drag me.</div>

    <app-dropdown-button [buttonsList]="buttonsList"></app-dropdown-button>

  </div>
</div>