.drop-menu {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;

    max-height: 60px;
    min-height: 60px;

    z-index: 2;
}

.drop-menu .primary-button {
    width: 60px;
    height: 60px;
    min-height: 60px;

    border-radius: 100px;
    border: none;
    // box-shadow: 5px 3px 4px #00000033;
    background: var(--secondary-color);

    color: var(--primary-font-color);
    text-decoration: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 3;
}

.primary-button img {
    width: 30px;
}

.drop-menu .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    position: relative;

    z-index: 2;
}

.dropdown-content .buttons .drop-button {
    border-radius: 100px;
    height: 45px;
    width: 45px;
    margin-bottom: 4%;
    color: var(--primary-font-color);

    background: var(--secondary-color);
    box-shadow: 0px 4px 5px #00000033;
    text-decoration: none;
    cursor: pointer;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-content .drop-button img {
    width: 20px;
}
